<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::content}, ~{})}"
>
  <div th:fragment="content" class="container my-3">
    <h3
      th:text="${categoryForm.categoryId != null} ? '카테고리 수정' : '카테고리 등록'"
    ></h3>

    <form
      th:object="${categoryForm}"
      th:action="${categoryForm != null and categoryForm.categoryId != null} ? @{|/admin/categories/edit/${categoryForm.categoryId}|} : @{/admin/categories/create}"
      method="post"
    >
      <!-- 카테고리아이디 숨김값 -->
      <input type="hidden" th:field="*{categoryId}" />

      <div class="row">
        <div class="col">
          <label for="categoryName" class="form-label">카테고리명</label>
          <input
            type="text"
            id="categoryName"
            th:field="*{categoryName}"
            class="form-control"
          />
          <div class="text-danger mt-1" th:errors="*{categoryName}" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <div class="text-end">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="bi bi-floppy"></i> 저장
            </button>
            <a th:href="@{/admin/categories}" class="btn btn-sm btn-success">
              <i class="bi bi-list"></i> 목록
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
</html>
