<!doctype html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::content})}"
>
  <div th:fragment="content" class="container my-3">
    <h3>게시판 리스트</h3>
    <div class="row">
      <div class="col">
        <!-- 게시판 목록-->
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>순번</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일자</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="board, index : ${boardList}">
              <td th:text="${index.count}"></td>
              <td>
                <a
                  th:href="@{|/board/detail/${board.boardId}|}"
                  th:text="${board.title}"
                ></a>
              </td>
              <td th:text="${board.writer}"></td>
              <!-- 날짜포맷 변경 함수 #temporals.format(date, 'yyyy-MM-dd HH:mm:ss') -->
              <!-- <td th:text="${board.createDate}"></td> -->
              <td
                th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd HH:mm')}"
              ></td>
            </tr>
          </tbody>
        </table>

        <!-- 게시글쓰기 버튼 영역 -->
        <div class="text-end">
          <a th:href="@{/board/create}" class="btn btn-sm btn-success">
            <i class="bi bi-pencil"></i> 글쓰기</a
          >
        </div>
      </div>
    </div>
  </div>
</html>
